* {
  background-color: #1F3145;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Roboto', sans-serif;
  display: block;
}

body {
  display: block;
}

button {
  width: 150px;
  height: 50px;
  margin-bottom: 20px;
  align-self: flex-start;
}

.wrapper {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  margin-top: 50px;
  color: #a2a86a;
  font-size: 100px;
  text-align: center;

  box-shadow: 2px 5px 20px black;
}

.container {
  margin-top: 60px;
  margin-bottom: 60px;

  display: flex;
  justify-content: space-evenly;
}

.navbar {
  width: 300px;
  border-radius: 4px;
  padding: 30px;
  text-align: center;
}

.sketchpad {
  background-color: gray;
  box-shadow: 2px 5px 20px black;
  width: 640px;
  height: 640px;
  display: flex;
  flex-wrap: wrap;
}

.gridlines {
  outline: 1px solid limegreen;
}

.color {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

span {
  background-color: #a2a86a;
}

button,
.color {
  width: 250px;
  height: 40px;
  background-color: #a2a86a;
  color: #20170e;
  font-weight: bold;
  font-size: 1.5em;
  border-radius: 20px;
  border-style: none;
  box-shadow: 2px 5px 20px black;
  transition-duration: 0.5s;
  margin-bottom: 30px;
}

button:hover {
  background-color: sienna;
  cursor: pointer;
  transform: scale(1.05);
}

.footer {
  font-size: 1.5rem;
  line-height: 2rem;
  color: #a2a86a;
  text-align: center;
  box-shadow: 2px 5px 20px black;
}